// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social button a:link,
.social button a:visited,
.social button a:hover,
.social button a:active {
  text-decoration:none;
  color:#222;
}

.social button {
  border-radius:7px;
}